# Downloaded databases (too large to commit)
pages/index.db

# Temp test files
serve.py
pages/test*.html
pages-src/.wasm-opt-test/
pages-src/generated/

# License txt from webpack
*.LICENSE.txt
__pycache__/
test_index.db
test_mirror.db
mirror.db
*.png
